<div class="footer">
  <div class="container">

    <div class="row title-footer-container">
      <div class="col-xs-12 text-center title-footer-text">
        <h4>Nous travaillons ensemble</h4>
      </div>
    </div>

    <div class="logos-partners text-center">
      <div>
        <img src="images/ClientLeChefEnBoxWhite.png" alt="chef">
      </div>
      <div>
        <img src="images/ClientRidy.png" alt="ridy">
      </div>
      <div>
        <img src="images/ClientOhMyCream.png" alt="omc">
      </div>
      <div>
        <img src="images/ClientLeWagon.png" alt="wagon">
      </div>
      <div>
        <img src="images/ClientLaCentraleDuSport.png" alt="lcs">
      </div>
      <div>
        <img src="images/ClientFelix.png" alt="felix">
      </div>
    </div>

  </div>
</div>
