.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
h4 {
  color: rgba(0,0,0,0.3);
}
.logo-resize {
  height: 180px;
}
.logo-case {
  height: 150px;
  border: 1px solid white;
  border-radius: 15%;
  padding: 25px;
  background: #f1f1f1;
}

p {
  font-weight: lighter;
  font-size: 14px;
}
body {
  background-color: white;
}
.logo-case-felix {
  height: 150px;
  width: 150px;
  border: 1px solid white;
  border-radius: 15%;
  padding: 40px 15px;
  background: #f1f1f1
}
.custom-container {
  margin-bottom: 25px;
  margin-top: 25px;
}
