<div class="banner" style="background-image: url('images/KS_illustration_header.png')">
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Qui sommes-nous?</h4>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <img class="logo-resize" src="images/KS_adn.png" alt="adn">
      </div>
    </div>
  <div class="row text-center">
    <div class="col-xs-4 col-xs-offset-2">
      <p class="text-justify">Parce que ton projet est unique, que tu rêves de changer le monde, que tu remets sans cesse en cause les modèles actuels, il te faut un partenaire comprenant ton univers et lui-même entrepreneur. Chez Kaizen Startup, société d'expertise comptable et d'ingénierie financière uniquement dédiée aux startups, nous avons décidé de nous concentrer à 100% sur la réussite de ton projet en mettant en place les outils les plus innovants, tant en terme de gestion, pilotage stratégique et financier que de communication.</p>
    </div>
    <div class="col-xs-4">
      <p class="text-justify">Dès le démarrage de la mission, la startup est suivie personnellement et régulièrement par un coach dédié ayant préalablement une expérience dans l’entrepreneuriat.
Nos équipes techniques (comptables, fiscales, financières et juridiques), toutes formées aux problématiques spécifiques des startupers, garantissent la fiabilité des réponses du coach.
Enfin, nous avons développé un écosystème permettant à chaque client de bénéficier du prolongement de l’état d’esprit Kaizen Startup auprès de nos partenaires (avocats, spécialistes marketing & communication, agences digitales…).</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Nos prestations</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 text-center">
      <img class="logo-resize" src="images/KS_illustration_1.png" alt="adn">
    </div>
    <div class="col-xs-4 text-center">
      <img class="logo-resize" src="images/KS_illustration_2.png" alt="adn">
    </div>
    <div class="col-xs-4 text-center">
      <img class="logo-resize" src="images/KS_illustration_3.png" alt="adn">
    </div>
  </div>
</div>
