<div class="container custom-container">
  <div class="row">
    <div class="col-md-6">
      <img class="logo-resize" src="images/KS_illustration_1.png" alt="ill1">
    </div>
    <div class="col-md-9">
      <h5>01 Pack création & coaching financier</h5>
      <p>Comme tout startuper, tu as entendu que la SAS (société par actions simplifiée) est la structure juridique idéale pour ton projet, mais en es-tu certain ?
Connais-tu la distinction entre le régime social du gérant majoritaire de SARL (société à responsabilité limitée) et le président d’une SAS ?
Sais-tu qu’il est possible de transformer une SARL en SAS préalablement à une levée de fonds ?
Bref, le pack création est fait pour répondre à toutes tes questions liées au lancement de ta structure et à t’accompagner dans l’accomplissement des formalités légales.
</p>
    </div>
    <div class="col-md-9">
      <h5> h</h5>
      <p>Petite astuce KaizenStartup : on t’a négocié des tarifs imbattables sur les frais d’annonces légales ;)
Ensuite, nous maîtrisons l’intégration de l’ensemble des flux et automatisons au maxium leur récupération : Stripe, Paypal, Shopify, Mangopay… on connait bien, Zapier est notre meilleur ami 

Forfait création : 499 € HT (all inclusive : frais de greffe et publicité légale – K-bis par mail en 48 heures)
Forfait coaching financier : à partir de 149 € mois
Ps : en phase de R&D et sans chiffre d’affaires, on s’adapte ;)</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="logo-resize" src="images/KS_illustration_2.png" alt="ill1">
    </div>
    <div class="col-md-9">
      <h5>02 Conseil en levée de fonds</h5>
      <p>C’est bon, tu as ton MVP, la proof of concept, est réalisée,. Tu as enfin des metrics, une traction mais forcément pour accélérer il te faut du cash !
A moins d’avoir déjà revendu ta précédente boîte et pris un an de vacances, tu vas devoir affronter le monde des ViiiCiii (venture capital) : business plan, pitch, executive summary, LOI, pacte d’associés, évaluation, méthode DCF, postmoney, premoney, clause de liquidation préférentielle…


</p>
    </div>
    <div class="col-md-9">
      <h5> h</h5>
      <p>Avant, tu as peut-être déjà fait ta première levée, friends & family avec des BA (congrats) mais les investisseurs professionnels n’ont pas les mêmes armes ! Tu passes maintenant en Série A (rien à voir avec le football italien ;) )
Pas de panique, les équipes de KaizenStartup sont la !

Forfait d’accompagnement entre 1 500 € HT et 4 500 € HT + sucess fees sur le montant des fonds obtenus.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="logo-resize" src="images/KS_illustration_3.png" alt="ill1">
    </div>
    <div class="col-md-9">
      <h5>03 DAF part-time</h5>
      <p>€€€€€€€ ! Oui, tu as bien reçu un virement à 7 chiffres sur ton compte bancaire ! Enfin celui de la société et par la même occasion, tu retrouves avec un board, un plan de développement super ambitieux et des obligations de reporting  très fastidieuses mais obligatoires pour gérer la croissance ! En plus de ça, tu dois recruter des équipes (la fameuse partie du BP où tu as expliqué aux VC que tu allais passer de 3 personnes à 25 en moins de 6 mois easy : le plus difficile dans un projet reste toujours de constituer une équipe de ninjas…) !

</p>
    </div>
    <div class="col-md-9">
      <h5> h</h5>
      <p>Bref, tu as besoin d’un super DAF (directeur/directrice financier/ère) ! Seulement voilà, un DAF full-time, compétent, capable de gérer le déploiement de ton architecture SI, de piloter la trésorerie, d’anticiper les besoins, de gérer les relations avec tous les intervenants financiers et juridiques (commissaires aux comptes, avocats, banquiers), cela a un coût (et accessoirement tu avais oublié de le budgeter dans ton BP…).
C’est la que nous intervenons, avec des profils qualifiés (cabinet de conseil, audit, banque d’affaires…), (relativement) jeunes, surmotivés et parfaitement adaptés à l’environnement d’une startup en forte croissance.
Nous mettons en place tous les outils dont tu auras besoin et plus que ça, le/la DAF t’épaulera et sera ton véritable bras droit pour toutes les questions liées à la stratégie financière, juridique, administrative et comptable.

Forfait jour sur-mesure à partir de 700 € HT</p>
    </div>
  </div>
</div>
